@use "@/assets/css-template/import" as template;

@mixin button-solid-color {
  @include template.button-base;

  --content-color: var(--color-on-accent);

  &::before {
    transition: opacity 0.05s;
    background-color: var(--color-accent);
    z-index: -1;
  }

  &::after {
    // Show above ::before, but below content.
    z-index: 0;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff00;
    border: 0.2rem solid #ffffff00;
    border-radius: var(--button-rounding);

    transition:
      background-color 0.05s,
      border-color 0.05s;
  }

  @include template.on-hover {
    &::after {
      border-color: #ffffff40;
    }
  }

  &:active {
    &::after {
      background-color: #ffffff40;
    }
  }

  &:disabled,
  &[disabled] {
    // Set back to normal color. 50% opacity is also applied on top of this.
    --content-color: var(--color-text);

    &::before {
      background-color: transparent;
      border: var(--button-outline) solid var(--color-soft-border-disabled);
    }
  }
}
