@use "css-template/import" as template;
@use "sass:meta";

$theme-scoreboard-definition: (
  "background": #1d1e2e,

  // TODO: Same as background for now.
  "background-dialog": #1d1e2e,

  "text": template.theme-dark-ink(80),
  "text-weak": template.theme-dark-ink(50),
  "accent": #4f8fee,
  "accent-hover": #669df0,
  "accent-active": #377feb,
  "on-accent": #1d1e2e,
  "soft": template.theme-dark-ink(12),
  "soft-hover": template.theme-dark-ink(16),
  "soft-active": template.theme-dark-ink(8),
  "soft-border": template.theme-dark-ink(20),
  "soft-border-disabled": template.theme-dark-ink(12),
  "field-border": template.theme-dark-ink(50),
  "shadow": rgba(0, 0, 0, 60%),
);

@include template.init(
  $themes: (
    "scoreboard": $theme-scoreboard-definition,
  ),
  $custom-colors: (
    "text-strong": (
      "scoreboard": template.theme-dark-ink(100),
    ),
    "error": (
      "scoreboard": #ff7171,
    ),
    "accent-orange": (
      "scoreboard": #f09561,
    ),
    "accent-green": (
      "scoreboard": #7cc263,
    ),
    "accent-blue": (
      "scoreboard": #4f8fee,
    ),
    "accent-purple": (
      "scoreboard": #c58aff,
    ),
  )
);

@include template.theme-apply-base("scoreboard");

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/space-grotesk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/space-grotesk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  --line-spacing: 0.3em;
  --page-width: 80rem;
}

.link {
  @include template.link;
}

html,
body,
#app {
  min-height: 100vh;
  min-height: 100svh;
}
